footer
{
	background-color: $green;
	padding-top: 32px;
}
.footer--down
{
	position: absolute;
	bottom: 0;
	width: 100%;
}
.footer__top
{
	padding-bottom: 20px;
	border-bottom: 1px solid #87d4ab;
	display: flex;
	justify-content: space-between;
	&>div
	{
		width: 25%;
		margin-right: 20px;
		&:last-child{margin-right: 0;}
	}
}
.footer__top-item
{
	margin-bottom: 8px;
	max-width: 225px;
	display: flex;
	align-items: center;

	svg
	{
		margin-right: 16px;
	}
}
.footer__top-item-title
{
	font-weight: bold;
	color: #fff;
	font-size: 14px;
}
.footer__top-item_list
{
	svg
	{
		margin-right: 8px;
	}
}
.footer__top-item_list-social
{
	margin-bottom: 0;
	a
	{
		line-height: 0;
	}
	svg
	{
		margin-right: 24px;
		transition: .2s;
		&:hover
		{
			transform: scale(1.05);
		}
	}
}
.footer__top-item_pl40
{
	padding-left: 40px;
}
.footer__top-item_mb34
{
	margin-bottom: 34px;
}
.footer__top-item_mb20
{
	margin-bottom: 19px;
}
.footer__top-item_mb18
{
	margin-bottom: 18px;
}
.footer__top-link
{
	color: #fff;
	font-size: 14px;
	line-height: normal;
	transition: .135s;

	&:hover
	{
		color: #87d4ab;
	}
}
.footer__top-link_list-name
{
	margin-bottom: 24px;
}
.footer__top-link_bold
{
	font-weight: $bold-font;
}
.footer__top-link_medium
{
	font-weight: 600;
}
.footer__top-title
{
	font-weight: $bold-font;
	font-size: 14px;
	line-height: normal;
	color: #fff;
	margin-bottom: 23px;
}
.footer__bottom
{
	padding-top: 24px;
	padding-bottom: 24px;
	display: flex;
	justify-content: space-between;
	color: #87d4ab;
	font-size: 14px;
	line-height: normal;
}
.footer__btn
{
	max-width: 81px;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 12px;
	font-weight: $bold-font;

	&:hover
	{
		color: $green;
		background-color: $white;
		// border:1px solid #87d4ab;
	}
}
.footer__top-item_questions:first-child
{
	margin-bottom: 5px;
	font-weight: $medium-font;
}
@media (max-width: $mobile-sm)
{
	.footer__top
	{
		flex-wrap: wrap;
		&>div
		{
			width: auto;
			margin-right: 0;
			margin-bottom: 24px;
			&:last-child{margin-bottom: 5px;}
		}
	}
	.footer__top-item_questions
	{
		display: none;
	}
	.footer__top-list:not(:last-child)
	{
		margin-bottom: 32px;
	}
	.footer__bottom
	{
		flex-wrap: wrap;
	}
	.footer__bottom-text:first-child
	{
		margin-bottom: 8px;
	}

}