.order-register__wr
{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(6, auto);
	grid-auto-rows: auto;
	margin-top: 40px;
	padding-bottom: 80px;
}
.order-register__item-content{display: flex;}
.order-register__item{padding-bottom: 40px;}
.order-register__item-content--mb
{
	margin-bottom: 16px;
	&:last-child{margin-bottom: 0;}
}
.order-register__item-img
{
	width: 60px;
	height: 60px;
	margin-right:16px;
	img
	{
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
.order-register__subtitle
{
	font-size: 18px;
	font-weight: $bold-font;
	color: $black;
	margin-top: 0;
	margin-bottom: 24px;
}
.order-register__item-name
{
	font-size: 15px;
	margin-bottom: 4px;
}
.order-register__item-quantity
{
	font-size: 14px;
	color: $dark-grey;
}
.order-register__tabs
{
	padding-bottom: 40px;
	grid-row: 3/2;
	grid-column: 1/4;
}
.order-register__tabs-wr
{
	display: flex;
	margin-bottom: 40px;
}
.order-register__tab
{
	margin-right: 16px;
	width: 340px;
	input[type="radio"]
	{
		display: none;
		&:checked ~ .order-register__tab-box
		{
			border: 2px solid $green;
			padding-top: 15px;
			padding-bottom: 15px;
			padding-left: 27px;
		}

	}
}
.order-register__tab-box
{
	display: flex;
	border: solid 1px $grey;
	padding-top: 16px;
	padding-bottom: 16px;
	padding-left: 28px;
	border-radius: 6px;
	cursor: pointer;
	svg
	{
		width: 32px;
		height: 32px;
		margin-right: 16px;
		fill: $grey;
	}
}
.order-register__tab-text span
{
	display: block;
	max-width: 208px;
	&:first-child
	{
		font-size: 16px;
		font-weight: $medium-font;
		margin-bottom: 8px;
	}
	&:last-child
	{
		font-size: 14px;
		color: $dark-grey;
	}
}
.order-register__form
{
	max-width: 548px;
	color: $dark-grey;
	grid-row: 4/5;
	grid-column: 1/3;
}
.order-register__form--delivery{padding-bottom: 40px;}
.order-register__form--delivery .order-register__form-item:nth-last-child(-n+2){margin-bottom: 0;}
.order-register__form form
{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.order-register__form-item
{
	margin-bottom: 32px;
	position: relative;
	span
	{
		display: block;
		font-size: 12px;
		margin-bottom: 8px;
	}
	input
	{
		color: #26323b;
		height: 40px;
		width: 100%;
		padding-left: 12px;
		border: solid 1px $grey;
		border-radius: 6px;
		width: 266px;
		transition: .2s;
		&::placeholder{color:$dark-grey;}
		&:focus {border-color: $green;}
	}
}
.order-register__form-item--error
{
	position: relative;
	input{border-color: $red;}
	&:after
	{
		content: 'Поле обязательного заполнения';
		position: absolute;
		bottom: -22px;
		left: 0;
		font-size: 12px;
		color: $red;
	}
}
.order-register__form-item--promo
{
	width: 100%;
	input
	{
		width: 360px;
		&[placeholder="Промокод"]{display: none;}
	}

	&>div
	{
		display: flex;
		justify-content: space-between;
	}
}
.order-register__checkboxes-line
{
	display: flex;
	align-items: center;
	color: $dark-grey;
	position: relative;
	.g-radio
	{
		width: 100%;
		margin-bottom: 0;
		input:checked~div>div
		{
			span:first-child{color: $black;}
			span:last-child{color: $green;}
		}
	}
	&:first-child{margin-bottom: 18px;}
	&:nth-child(2){margin-bottom: 43px;}
}
.order-register__checkboxes-text
{
	margin-left: 18px;
}
.order-register__checkboxes-subtext
{
	position: absolute;
	bottom: -25px;
}
.order-register__bottom
{
	max-width: 548px;
	grid-row: 5/6;
}
.order-register__bottom-offer
{
	display: none;
	margin-bottom: 40px;
	span
	{
		color: $dark-grey;
		line-height: 1.43;
	}
	&>div{margin-right: 16px;}
}
.order-register__bottom-offer--active{display: flex;}

@media (max-width: 930px)
{
	.order-register__wr
	{
		grid-template-columns: 1fr;
		margin-top: 32px;
		padding-bottom: 40px;
	}
	.order-register__item{padding-bottom: 32px;}
	.order-register__tabs{margin-top: 0;}
	.order-register__bottom{grid-row: 6/7;}
}
@media (max-width: $mobile-sm)
{
	.order-register__tabs-wr
	{
		flex-direction: column;
		margin-bottom: 32px;
	}
	.order-register__tabs{padding-bottom: 32px;}
	.order-register__tab
	{
		width: 100%;
		margin-right: 0;
		&:first-child
		{
			margin-bottom: 16px;
		}
	}
	.order-register__form
	{
		max-width: 100%;
		form{flex-direction: column;}
	}
	.order-register__form--delivery{padding-bottom: 32px;}
	.order-register__form--person{padding-bottom: 8px;}
	.order-register__form-item
	{
		margin-bottom: 24px;
		input
		{
			width: 100%;
		}
	}
	.order-register__form--delivery .order-register__form-item:nth-last-child(2){margin-bottom: 24px;}
	.order-register__form-item--promo input
	{
		&[placeholder="Промокод"]{display: inline;}
		&:first-child{display: none}
	}
	.order-register__bottom-offer{margin-bottom: 32px;}
}