.detail-news
{
	color: $black;
}
.detail-news__item
{
	display: flex;
	margin-bottom: 16px;
}
.detail-news .detail-news__title
{
	font-size: 20px;
	font-weight: $bold-font;
	margin-bottom: 16px;
}
.detail-news__data
{
	font-size: 14px;
	display: flex;
	align-items: center;
	margin-bottom: 7px;
	color: $dark-grey;
	span
	{
		display: block;
		margin-top: 1px;
		margin-left: 9px;
	}
}
.detail-news__text
{
	color: #26323b;
	font-size: 14px;
	font-weight: $bold-font;
	max-width: 320px;
}
.detail-news__image
{
	width: 85px;
	margin-right: 20px;
	height: 60px;
	img
	{
		width: 100%;
		height: 100%;
		border-radius: 6px;
		object-fit: cover;
	}
}
@media(max-width: $mobile-xs)
{
	.detail-news__image
	{
		max-width: 76px;
	}
}