.error-block
{
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}
.error-block__img{margin-bottom: 60px;}
.error-block-text__title
{
	color: #7b8e98;
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 40px;
	line-height: 1em;
}
.error-block-text__abs
{
	color: #7b8e99;
	font-size: 20px;
}
.error-block-text__phone
{
	color:#01a54e;
	font-size: 20px;
	font-weight: bold;
}