.pagination__wr
{
	display: flex;
}
.pagination__numbers
{
	display: flex;
	margin-right: 16px;
	margin-left: 16px;
}
.pagination__item
{
	width: 40px;
	height: 40px;
	margin-right: 8px;
	color: $black;
	padding: 0;
	&:last-child
	{
		margin-right: 0;
	}
}
.pagination__item--active
{
	border-color: $green;
	color: green;
}
@media(max-width: $mobile-sm)
{
	.pagination__wr
	{
		display: none;
	}
}