{# index.twig #}
{% extends "layouts/layout.twig" %}
{% block page %}
	<div class="detail-news-page__top">
		<div class="container detail-news-pages">
			<a class="detail-news-pages__back" href="#">
				<svg width="17" height="17" viewBox="0 0 17 17">
				    <path fill="#FFF" fill-rule="evenodd" d="M10.673 13.458c.372 0 .66-.29.66-.66 0-.184-.072-.351-.2-.48L7.249 8.494l3.886-3.812c.127-.129.2-.302.2-.48 0-.37-.29-.66-.661-.66-.178 0-.333.067-.455.19L5.9 7.98c-.156.145-.233.324-.233.52s.077.363.227.514l4.318 4.254c.128.123.283.19.46.19z"/>
				</svg>
				Назад
			</a>
			<div class="detail-news-page__title">
				<div class="detail-news-page__data">
					<svg role="img" class="ic-time">
						<use xlink:href="#ic-time"></use>
					</svg>
					29 января 2020
				</div>
				<h1>Пить или не пить, переполох с антибиотиками.</h1>
			</div>
		</div>
	</div>
	<div class="container detail-news-pages">
		<div class="detail-news-pages__content">
			<h2>Не утихает шум вокруг антибиотиков</h2>
			<p>Type Одной из серьезных тревог ушедшего 2016 года была новость ВОЗ (всемирная организация здравоохранения) о том, что антибиотики перестают работать. Их эффективность во многих случаях становится практически нулевой, так как бактерии стремительными темпами приобретают иммунитет к современным лекарствам. С устойчивостью к антибиотикам началась борьба на государственном уровне. Сначала запретили безрецептурный отпуск антибиотиков и обложили серьезными штрафами персонал и администрацию аптек. Затем приступили к созданию карты антимикробной резистентности, позволяющей выявить уровень устойчивости инфекций к антибиотикам в каждом регионе нашей страны.</p>
			<h2>Ситуация и мнения</h2>
			<ul>
				<li>Достаточно неоднозначны, очевидно лишь одно.</li>
				<li>юбое решение о приеме или прекращении прием.</li>
				<li>Антибиотика необходимо принимать только после.</li>
				<li>Подробного обсуждения со своим лечащим врачом.</li>
			</ul>
			<p>
				Врачи и здравоохранительные ведомства находятся сейчас в сложном положении. Как ввести в практику новый подход? Врачи знают, что некоторые пациенты самовольно перестают принимать антибиотики, когда чувствуют себя лучше. Но это не лучший путь во множестве ситуаций — например, так точно нельзя поступать при туберкулезе или костных инфекциях. Директор американского Центра по контролю заболеваемости <a href="#">Лори Хикс</a> прокомментировал проблему так:
			</p>
			<blockquote>
				«Это каверзный вопрос. Однозначного заявления на тему сделать нельзя, и простого ответа на вопрос нет. Есть диагнозы, при которых сокращение курса лечения антибиотиками не рекомендуется или даже может быть опасно. С другой стороны, очевидно, что есть также много ситуаций, когда лечение антибиотиками зачастую назначается на более долгий срок, чем оно действительно необходимо, и тогда оптимальная длительность — это прекратить прием, когда пациенту станет лучше».
			</blockquote>
		</div>
		{% include "blocks/news-slider.twig" with { "newspages": true }%}
	</div>
{% endblock %}