<div class="added">
	<div class="added__wr container">
		<div class="added__svg" onclick="o2.productItem.closeProduct()">
			<svg role="img">
				<use xlink:href="#close-balloon"></use>
			</svg>
		</div>
		<div class="added__left">
			<div class="added__title">
				Товар добавлен в корзину
			</div>
			<div class="added__product">
				<div class="added__image">
					<img src="../img/assets/im-discount-big.png">
				</div>
				<div class="added__info-wr">
					<span class="added__text">Кальцемин адванс таб. п.о №120</span>
					<span class="added__value">280 ₽</span>
				</div>
			</div>
		</div>
		<div class="added__right">
			<div class="added__detail-count">
					<div class="cart__detail-count-minus" onclick="o2.cartCount(this)">
						<span></span>
					</div>
					<div class="cart__detail-count-number">
						1
					</div>
					<div class="cart__detail-count-plus" onclick="o2.cartCount(this)">
						<span></span>
						<span></span>
					</div>
				</div>
			<a href="#" class="button added__btn">Перейти в корзину</a>
		</div>
	</div>
</div>