<ul class="breadcrumbs">
	<li class="breadcrumbs__item">
		<a href="#" class="breadcrumbs__link {{breadcrumbs__link_white}}">
			Главная
		</a>
	</li>
	<li class="breadcrumbs__item">
		<a href="#" class="breadcrumbs__link {{breadcrumbs__link_white}}">
			Лекарственные препараты
		</a>
	</li>

	<li class="breadcrumbs__item breadcrumbs__item_reverse">
		<a href="#" class="breadcrumbs__link {{breadcrumbs__link_white}}">
			Витамины
		</a>
	</li>
</ul>