<ul class="catalog-section-menu__list">
	<li class="sidebar-menu__title catalog-section-menu__title">
		Лекарственные средства
		<div class="sidebar-menu__close" onclick="o2.popups.mainCatalogMenuHide()">
			<svg role="img" class="close-mobile">
				<use xlink:href="#close-mobile"></use>
			</svg>
		</div>
		<div class="devider devider_main-catalog"></div>
	</li>
	<li class="catalog-section-menu__item">
		<a>Простуда, грипп</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Желудок, кишечник, печень</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Болеутоляющие препараты</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Аллергия</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Мышцы, кости и суставы</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Сердце, кровообращение и вены</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Неврология</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Стоматология</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Ухо, горло, нос</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Дыхательная система</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Мочеполовая система</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Женское здоровье</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Воспаление и инфекции</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Противомикробные препараты</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Эндокринология</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Глаза</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Диабет</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Иммунитет</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Кожа, волосы, ногти</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Гомеопатия, лечебные кремы и травы</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Вредные привычки</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Нарушение обмена веществ</a>
	</li>
	<li class="catalog-section-menu__item">
		<a>Лечение геморроя</a>
	</li>
</ul>