<div class="catalog-menu">
	<div class="container">
		<ul class="catalog-menu__wrapper">
			<li class="catalog-menu__name catalog-menu__name_mt0">
				<a href="#">Лекарственные средства</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Простуда, грипп</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Желудок, кишечник, печень</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Болеутоляющие препараты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Аллергия</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Мышцы, кости и суставы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Сердце, кровообращение и вены</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Неврология</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Стоматология</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ухо, горло, нос</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Дыхательная система</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Мочеполовая система</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Женское здоровье</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Воспаление и инфекции</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Противомикробные препараты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Эндокринология</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Глаза</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Диабет</a>
			</li>

			<li class="catalog-menu__item">
				<a href="#">Иммунитет</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Кожа, волосы, ногти</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Гомеопатия, лечебные кремы и травы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Вредные привычки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Нарушение обмена веществ</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Лечение геморроя</a>
			</li>

			<li class="catalog-menu__name">
				<a href="#">Линзы, очки, аксессуары</a>
			</li>
			<li class="catalog-menu__item">	
				<a href="#">Очки для зрения</a>
			</li>

			<li class="catalog-menu__item">
				<a href="#">Контактные линзы и аксессуары</a>
			</li>

			<li class="catalog-menu__name catalog-menu__name_mt0">
				<a href="#">Гигиена полости рта</a>
			</li>
			<li class="catalog-menu__item">	
				<a href="#">Ирригаторы</a>
			</li>

			<li class="catalog-menu__item">
				<a href="#">Зубные пасты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Зубные щетки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Полоскание и уход за полостью рта</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Зубные гели</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Очистители для языка</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Межзубные ершики</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Зубные порошки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Жидкости для ирригаторов</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Зубные нити и зубочистки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Отбеливание зубов</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Стоматологические жевательные</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">резинки и леденцы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Футляры и колпачки для зубных щеток</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Стерилизаторы зубных щеток</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Уход за зубными протезами</a>
			</li>
			<li class="catalog-menu__name">
				<a href="#">Личная гигиена</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Антибактериальные средства</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ватные палочки и диски</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Салфетки и платки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Приборы для чистки ушей</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Вкладыши и пластыри для груди</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Интимная гигиена</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Тальк</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Прокладки для подмышек</a>
			</li>
			<li class="catalog-menu__name catalog-menu__name_mt0">
				<a href="#">Витамины, БАДы и пищевые добавки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Витамины и витаминные комплексы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Минералы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">БАДы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Пищевые добавки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Пребиотики</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Специализированное питание</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ортопедия</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Бандажи и ортезы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Корректоры стопы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Корсеты и корректоры осанки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ортопедические подушки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Согревающие пояса и корсеты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ортопедическая обувь</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ортопедические стельки</a>
			</li>

			<li class="catalog-menu__item">
				<a href="#">Компрессионное белье</a>
			</li>
			<li class="catalog-menu__name">
				<a href="#">Медицинские приборы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Активаторы воды</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Глюкометры и анализаторы крови</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Ингаляторы</a>
			</li>

			<li class="catalog-menu__item">
				<a href="#">Термометры медицинские</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Тонометры и аксессуары</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Кварцевые лампы, рециркуляторы и облучатели</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Лазерные терапевтические аппараты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Пикфлоуметры (спирометры)</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Медицинские браслеты и пульсоксиметры</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Слуховые аппараты и усилители звука</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Свинг-машины</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Устройства антихрап</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Устройства от насморка и аллергии</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Физиотерапевтические аппараты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Электрокардиографы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Генераторы водорода</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Аксессуары для медицинской техники</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Стерилизаторы медицинские</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Очки, осветители и рефлекторы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Биокорректоры</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Аппараты для чистки обуви и надевания бахил</a>
			</li>
			<li class="catalog-menu__name">
				<a href="#">Медицинские изделия</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Аптечки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Диагностические тесты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Средства по уходу за больными</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Средства для реабилитации</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Расходные материалы</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Грелки</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Медицинские инструменты</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Мерные стаканы медицинские</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Наборы для кислородных коктейлей</a>
			</li>
			<li class="catalog-menu__item">
				<a href="#">Пессарии</a>
			</li>	
		</ul>
	</div>
</div>