<div class="catalog-mobmenu">
	<div class="catalog-mobmenu__title">
		<svg onclick="o2.popups.returnMenu(this)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
			<path fill="#263238" fill-rule="evenodd" d="M15.068 19c.525 0 .932-.41.932-.931a.952.952 0 0 0-.282-.679l-5.485-5.398 5.485-5.382A.966.966 0 0 0 16 5.93.921.921 0 0 0 15.068 5c-.251 0-.47.095-.643.268L8.33 11.266A.983.983 0 0 0 8 12c0 .276.11.513.321.726l6.096 6.006c.18.173.4.268.65.268z"/>
		</svg>
		<span>Каталог товаров</span>
		<svg role="img" class="close-mobile" onclick="o2.popups.mobileMenuHide()">
				<use xlink:href="#close-mobile"></use>
		</svg>
	</div>

	<ul class="catalog-mobmenu__list">
		<li class="catalog-mobmenu__item" onclick="o2.popups.openCatalogLinks(this)" id="doc-1">
			<span>Лекарственные средства</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>

		<li class="catalog-mobmenu__item">
			<span>Лекарственные средства</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Витамины</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>БАДы</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Пищевые добавки</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Гигиена полости рта</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Медицинские изделия</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Медицинские приборы</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Личная гигиена</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Очки, линзы</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Ортопедические изделия и реабилитация</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Диагностические тесты</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Массажеры</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Уход за больными</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>
		<li class="catalog-mobmenu__item">
			<span>Питание специального назначения</span>
			<svg role="img" class="ic-right-arrow">
				<use xlink:href="#ic-right-arrow"></use>
			</svg>
		</li>	
	</ul>
</div>
<div class="catalog-mobmenu_second-lvl" data-id="doc-1">
		<div class="catalog-mobmenu__title">
			<svg onclick="o2.popups.returnCatalog(this)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
				<path fill="#263238" fill-rule="evenodd" d="M15.068 19c.525 0 .932-.41.932-.931a.952.952 0 0 0-.282-.679l-5.485-5.398 5.485-5.382A.966.966 0 0 0 16 5.93.921.921 0 0 0 15.068 5c-.251 0-.47.095-.643.268L8.33 11.266A.983.983 0 0 0 8 12c0 .276.11.513.321.726l6.096 6.006c.18.173.4.268.65.268z"/>
			</svg>
			<span>Лекарственные средства</span>
			<svg role="img" class="close-mobile" onclick="o2.popups.mobileMenuHide()">
				<use xlink:href="#close-mobile"></use>
			</svg>
		</div>
	
		<ul class="catalog-mobmenu__list">
			<li class="catalog-mobmenu__item">
				<a href="#">Простуда, грипп</a>
			</li>	
			<li class="catalog-mobmenu__item">
				<a href="#">Желудок, кишечник, печень</a>
			</li>	
			<li class="catalog-mobmenu__item">
				<a href="#">Болеутоляющие препараты</a>
			</li>	
			<li class="catalog-mobmenu__item">
				<a href="#">Аллергия</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Мышцы, кости и суставы</a>
			</li>	
			<li class="catalog-mobmenu__item">
				<a href="#">Сердце, кровообращение и вены</a>
			</li>	
			<li class="catalog-mobmenu__item">
				<a href="#">Неврология</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Стоматология</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Ухо, горло, нос</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Дыхательная система</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Мочеполовая система</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Женское здоровье</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Нарушение обмена веществ</a>
			</li>
			<li class="catalog-mobmenu__item">
				<a href="#">Кожа, волосы, ногти</a>
			</li>
		</ul>
	</div>