<div class="checkout-summary__wr">
	<div class="checkout-summary">
		<div class="checkout-summary__item">
			<div class="checkout-summary__line checkout-summary__line--title">
				<span>Вашь заказ</span>
				<a>Изменить</a>
			</div>
			<div class="checkout-summary__line checkout-summary__line--promo">
				<div>
					<div class="l-input__label">Промокод на скидку</div>
					<input type="text" class="g-input" placeholder="Промокод">
				</div>
				<button class="simple-button">Применить</button>
			</div>
		</div>
		<div class="checkout-summary__item">
			<div class="checkout-summary__line">
				<span>Товар (1)</span>
				<span>280₽</span>
			</div>
			<div class="checkout-summary__line checkout-summary__line--delivery">
				<span>Доставка</span>
				<span>Бесплатно</span>
			</div>
			<div class="checkout-summary__line">
				<span>Скидка по промокоду</span>
				<span>-200₽</span>
			</div>
		</div>
		<div class="checkout-summary__item checkout-summary__item--total">
			<div class="checkout-summary__line checkout-summary__line--total">
				<span>Итого</span>
				<div><span class="checkout-summary__line-sum">80</span>₽</div>
			</div>
		</div>
		<button class="button button--checkout-summary">Перейти к оформлению</button>
	</div>
</div>