<div class="detail-news">
    <div class="detail-news__wrapper">
        <h2 class="detail-news__title">Новости</h2>
        <div class="detail-news__item">
            <div class="detail-news__image">
                <picture>
                    <source data-srcset="img/im-news-2.png, img/im-news-2@2x.png">
                    <img class="lazy-image" alt="A lazy image"
                        data-src="img/im-news-2.png">
                </picture>
            </div>
            <div class="detail-news__right">
                <div class="detail-news__data">
                    <svg role="img" class="ic-time-news">
                        <use xlink:href="#ic-time-news"></use>
                    </svg>
                    <span>04 февраля 2020</span>
                </div>
                <div class="detail-news__text">Как узнать, что лекарство испортилось.</div>
            </div>
        </div>
        <div class="detail-news__item">
            <div class="detail-news__image">
                <picture>
                    <source data-srcset="img/im-news-2.png, img/im-news-2@2x.png">
                    <img class="lazy-image" alt="A lazy image"
                        data-src="img/im-news-2.png">
                </picture>
            </div>
            <div class="detail-news__right">
                <div class="detail-news__data">
                    <svg role="img" class="ic-time-news">
                        <use xlink:href="#ic-time-news"></use>
                    </svg>
                    <span>04 февраля 2020</span>
                </div>
                <div class="detail-news__text">Как узнать, что лекарство испортилось.</div>
            </div>
        </div>
        <div class="detail-news__item">
            <div class="detail-news__image">
                <picture>
                    <source data-srcset="img/im-news-2.png, img/im-news-2@2x.png">
                    <img class="lazy-image" alt="A lazy image"
                        data-src="img/im-news-2.png">
                </picture>
            </div>
            <div class="detail-news__right">
                <div class="detail-news__data">
                    <svg role="img" class="ic-time-news">
                        <use xlink:href="#ic-time-news"></use>
                    </svg>
                    <span>04 февраля 2020</span>
                </div>
                <div class="detail-news__text">Как узнать, что лекарство испортилось.</div>
            </div>
        </div>
    </div>
</div>