<div class="detail-description _tabs-container">
	<ul class="detail-description__menu {{ classes }}">
		<li class="detail-description__item detail-description__item_active" onclick="o2.tabs.open(this, 1)">
			<a class="detail-description__link" href="javascript:void(0);">Описание</a>
		</li>
		<li class="detail-description__item" onclick="o2.tabs.open(this, 2)">
			<a class="detail-description__link" href="javascript:void(0);">Способы применения</a>
		</li>
		<li class="detail-description__item" onclick="o2.tabs.open(this, 3)">
			<a class="detail-description__link" href="javascript:void(0);">Показания</a>
		</li>
		<li class="detail-description__item" onclick="o2.tabs.open(this, 4)">
			<a class="detail-description__link" href="javascript:void(0);">Ещё</a>
		</li>
	</ul>
	<div class="tab tab_open" data-tab-id="1">
		<div class="detail-description__info">
			<ul class="detail-description__view">
			<li class="detail-description__view-item">
			<span class="detail-description__view-name">Тип препарата: </span>
			<span class="detail-description__view-value">Таблеки2</span>
			</li>
			<li class="detail-description__view-item">
			<span class="detail-description__view-name">Возраст применения:</span>
			<span class="detail-description__view-value">2 года</span>
			</li>
			<li class="detail-description__view-item">
			<span class="detail-description__view-name">Форма выпуска:</span>
			<span class="detail-description__view-value">таблетки</span>
			</li>
			</ul>
			<b>Действующее вещество<br>
			</b><b><br>
			 </b>Кальций, Вит D3, Медь, Цинк, Марганец, Бор<br>
			 <b><br>
			 </b><b>Фармакологическое действие</b><br>
			 <b><br>
			 </b>Комбинированный препарат, содержащий витамины, микро- и макроэлементы; действие обусловлено свойствами, входящих в состав ингредиентов. Кальций участвует в формировании костной ткани, снижает резорбцию и увеличивает плотность Комбинированный препарат, содержащий витамины, микро- и макроэлементы; действие обусловлено свойствами, входящих в состав ингредиентов. Кальций участвует в формировании костной ткани, снижает резорбцию и увеличивает плотность<b><br>
			 </b>
		</div>
		<div class="detail-description__more-btn detail-description__more-btn--hide" onclick="o2.popups.detailInfo(this)">
			<span class="detail-description__more-btn--text-show">Смотреть все</span>
			<span class="detail-description__more-btn--text-hide">Скрыть</span>
			<svg role="img" class="ic-down-arrow">
				<use xlink:href="#ic-down-arrow"></use>
			</svg>
		</div>
	</div>


	<div class="tab" data-tab-id="2">
	    tab 2
	</div>
	<div class="tab" data-tab-id="3">
	    tab 3
	</div>
	<div class="tab" data-tab-id="4">
	    tab 4
	</div>
</div>