<div class="discounts-panel">
	<h2>С большой скидкой</h2>
	<div class="discounts-panel__cards__wr">
		<div class="discount-panel__large-card">
			<a href="#">
				<picture>
					<source data-srcset="img/assets/im-discount-big@2x.png 1x, img/assets/im-discount-big@3x.png 2x" media="(max-width: 740px)">
					<source data-srcset="img/assets/im-discount-big@2x.png 1x, img/assets/im-discount-big@3x.png 2x">
					<img class="lazy-image" data-src="img/assets/img/im-discount-big@3x.png" alt="">
				</picture>
			</a>
			<div class="discount-panel__name discount-panel__name_mw240">
				Кальцемин адванс таб. п.о №120
			</div>
			<div class="discount-panel__value">
				<div class="discount-panel__value-wr discount-panel__newprice">
					<span>68,88</span>
					<span>₽</span>
				</div>
				<div class="discount-panel__value-wr discount-panel__lastprice">
					<span>861</span>
					<span>₽</span>
				</div>
			</div>
			<button class="g-primary-button discount-panel__btn">В корзину</button>
			<div class="discount-panel__sale">Экономия 92%</div>
		</div>
		<div class="discounts-panel__cards">
			<div class="discounts-panel__card active">
				<a href="#">
					<picture>
						<source data-srcset="img/assets/im-discount-4@2x.png 1x, img/assets/im-discount-4@3x.png 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/im-discount-4@2x.png 1x, img/assets/im-discount-4@3x.png 2x">
						<img class="lazy-image" data-src="img/assets/img/im-discount-4@3x.png" alt="">
					</picture>
				</a>
				<a href="#" class="discount-panel__name">
					Рыбий жир Меллер с фруктовым вкусом фл. 250…
				</a>
				<div class="discount-panel__value">
					<div class="discount-panel__value-wr discount-panel__newprice">
						<span>107,3</span>
						<span>₽</span>
					</div>
					<div class="discount-panel__value-wr discount-panel__lastprice">
						<span>1073</span>
						<span>₽</span>
					</div>
				</div>
				<div class="discount-panel__sale discount-panel__sale_card">-90%</div>
			</div>

			<div class="discounts-panel__card active">
				<a href="#">
					<picture>
						<source data-srcset="img/assets/im-discount-2@2x.png 1x, img/assets/im-discount-2@3x.png 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/im-discount-2@2x.png 1x, img/assets/im-discount-2@3x.png 2x">
						<img class="lazy-image" data-src="img/assets/img/im-discount-4@3x.png" alt="">
					</picture>
				</a>
				<a href="#" class="discount-panel__name">
					Дезринит спрей наз. дозир. 50 мкг/доза фл. 18г (140до…Дезринит спрей наз. дозир. 50 мкг/доза фл. 18г (140до…Дезринит спрей наз. дозир. 50 мкг/доза фл. 18г (140до…
				</a>
				<div class="discount-panel__value">
					<div class="discount-panel__value-wr discount-panel__newprice">
						<span>58,66</span>
						<span>₽</span>
					</div>
					<div class="discount-panel__value-wr discount-panel__lastprice">
						<span>419</span>
						<span>₽</span>
					</div>
				</div>
				<div class="discount-panel__sale discount-panel__sale_card">-90%</div>
			</div>

			<div class="discounts-panel__card">
				<a href="#">
					<picture>
						<source data-srcset="img/assets/im-discount-1@2x.png 1x, img/assets/im-discount-1@3x.png 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/im-discount-1@2x.png 1x, img/assets/im-discount-1@3x.png 2x">
						<img class="lazy-image" data-src="img/assets/img/im-discount-4@3x.png" alt="">
					</picture>
				</a>
				<a href="#" class="discount-panel__name">
					Зубная паста SPLAT Professional Биокальций
				</a>
				<div class="discount-panel__value">
					<div class="discount-panel__value-wr discount-panel__newprice">
						<span>49,99</span>
						<span>₽</span>
					</div>
					<div class="discount-panel__value-wr discount-panel__lastprice">
						<span>155</span>
						<span>₽</span>
					</div>
				</div>
				<div class="discount-panel__sale discount-panel__sale_card">-90%</div>
			</div>

			<div class="discounts-panel__card">
				<a href="#">
					<picture>
						<source data-srcset="img/assets/im-discount-3@2x.png 1x, img/assets/im-discount-3@3x.png 2x" media="(max-width: 740px)">
						<source data-srcset="img/assets/im-discount-3@2x.png 1x, img/assets/im-discount-3@3x.png 2x">
						<img class="lazy-image" data-src="img/assets/img/im-discount-4@3x.png" alt="">
					</picture>
				</a>
				<a href="#" class="discount-panel__name">
					Нафтизин капли наз. 0.1% фл. 15 мл
				</a>
				<div class="discount-panel__value">
					<div class="discount-panel__value-wr discount-panel__newprice">
						<span>50</span>
						<span>₽</span>
					</div>
					<div class="discount-panel__value-wr discount-panel__lastprice">
						<span>100</span>
						<span>₽</span>
					</div>
				</div>
				<div class="discount-panel__sale discount-panel__sale_card">-90%</div>
			</div>
		</div>
	</div>
	<div class="discount-panel__show-more-wr">
		<div class="discount-panel__show-more" onclick="o2Popups.showMoreDiscounts(this)">
			Показать еще
		</div>
	</div>
</div>