<div class="error-block">
	<div class="error-block__img">
		<img src="../../img/assets/errorImg.png" alt="errorImg">
	</div>
	<div class="error-block__text">
		<h2 class="error-block-text__title">
			Ведутся технические работы
		</h2>
		<p class="error-block-text__abs">
			Вы можете оформить заказ по телефону
		</p>
		<a href="tel:28-98-98" class="error-block-text__phone">28-98-98</a>
	</div>
</div>