<div class="faq">
	<div class="container">
		<h3 class="title title--faq">
			Часто задаваемые вопросы
		</h3>
		<ul class="faq__list">
			<li class="faq__item">
				<div class="faq__question" onclick="o2.questionOpen(this)">
					<div class="faq__icon faq__icon--active">
						<svg role="img" class="ic-plus">
							<use xlink:href="#ic-plus"></use>
						</svg>
					</div>
					<div class="faq__icon">
						<svg role="img" class="ic-minus">
							<use xlink:href="#ic-minus"></use>
						</svg>
					</div>
					<div class="faq__question-title">
						Какие гарантии того, что ваш товар подлинный и качественный?
					</div>
				</div>
				<div class="faq__answer">
					Bowel related problems have become an integral part of the lives of the average Americans, thanks to the abundance of fast foods in their diet. Low vitality, stomach bloat, poor digestion– are all the natural corollaries of irregular bowel movements. Add to it foul body odor, bad breath and a lackluster skin…together they indicate to one common point and that is; your colon is not in the proper state and it needs immediate attention.
				</div>
			</li>
			<li class="faq__item">
				<div class="faq__question" onclick="o2.questionOpen(this)">
					<div class="faq__icon faq__icon--active">
						<svg role="img" class="ic-plus">
							<use xlink:href="#ic-plus"></use>
						</svg>
					</div>
					<div class="faq__icon">
						<svg role="img" class="ic-minus">
							<use xlink:href="#ic-minus"></use>
						</svg>
					</div>
					<div class="faq__question-title">
						Как сделать заказ на сайте?
					</div>
				</div>
				<div class="faq__answer">
					Bowel related problems have become an integral part of the lives of the average Americans, thanks to the abundance of fast foods in their diet. Low vitality, stomach bloat, poor digestion– are all the natural corollaries of irregular bowel movements. Add to it foul body odor, bad breath and a lackluster skin…together they indicate to one common point and that is; your colon is not in the proper state and it needs immediate attention.
				</div>
			</li>
			<li class="faq__item">
				<div class="faq__question" onclick="o2.questionOpen(this)">
					<div class="faq__icon faq__icon--active">
						<svg role="img" class="ic-plus">
							<use xlink:href="#ic-plus"></use>
						</svg>
					</div>
					<div class="faq__icon">
						<svg role="img" class="ic-minus">
							<use xlink:href="#ic-minus"></use>
						</svg>
					</div>
					<div class="faq__question-title">
						Можно ли заказать доставку товара на дом?
					</div>
				</div>
				<div class="faq__answer">
					Bowel related problems have become an integral part of the lives of the average Americans, thanks to the abundance of fast foods in their diet. Low vitality, stomach bloat, poor digestion– are all the natural corollaries of irregular bowel movements. Add to it foul body odor, bad breath and a lackluster skin…together they indicate to one common point and that is; your colon is not in the proper state and it needs immediate attention.
				</div>
			</li>
			<li class="faq__item">
				<div class="faq__question" onclick="o2.questionOpen(this)">
					<div class="faq__icon faq__icon--active">
						<svg role="img" class="ic-plus">
							<use xlink:href="#ic-plus"></use>
						</svg>
					</div>
					<div class="faq__icon">
						<svg role="img" class="ic-minus">
							<use xlink:href="#ic-minus"></use>
						</svg>
					</div>
					<div class="faq__question-title">
						Если я не смогу забрать заказ в день его поступления, можно ли выкупить его позже?
					</div>
				</div>
				<div class="faq__answer">
					Bowel related problems have become an integral part of the lives of the average Americans, thanks to the abundance of fast foods in their diet. Low vitality, stomach bloat, poor digestion– are all the natural corollaries of irregular bowel movements. Add to it foul body odor, bad breath and a lackluster skin…together they indicate to one common point and that is; your colon is not in the proper state and it needs immediate attention.
				</div>
			</li>
		</ul>
	</div>
</div>