<ul class="help-menu">
	<li class="help-menu__item {% if active == 1 %}help-menu__item_active{% endif %}">
		<a href="#">
			{% include "../../img/svg-for-sprite/help-truck.svg" %}
			<span>Доставка</span>
		</a>
	</li>
	<li class="help-menu__item {% if active == 2 %}help-menu__item_active{% endif %}">
		<a href="#">
			{% include "../../img/svg-for-sprite/ic-payment-menu.svg" %}
			<span>Оплата</span>
		</a>
	</li>
	<li class="help-menu__item {% if active == 3 %}help-menu__item_active{% endif %}">
		<a href="#">
			{% include "../../img/svg-for-sprite/ic-refund-menu.svg" %}
			<span>Возврат</span>
		</a>
	</li>
	<li class="help-menu__item {% if active == 4 %}help-menu__item_active{% endif %}">
		<a href="#">
			{% include "../../img/svg-for-sprite/ic-wholesale-menu.svg" %}
			<span>Оптовый отдел</span>
		</a>
	</li>
	<li class="help-menu__item {% if active == 5 %}help-menu__item_active{% endif %}">
		<a href="#">
			{% include "../../img/svg-for-sprite/ic-purveyor-menu.svg" %}
			<span>Поставщикам</span>
		</a>
	</li>
	<li class="help-menu__item {% if active == 6 %}help-menu__item_active{% endif %}">
		<a href="#">
			{% include "../../img/svg-for-sprite/ic-legalinfo-menu.svg" %}
			<span>Правовая информация</span>
		</a>
	</li>
</ul>