<div class="legal">
	<h2 class="legal__title">Правовая информация</h2>
	<div class="legal__info">
		ООО "Гелиос"<br>
		362008, республика Северная Осетия - Алания, город Владикавказ, улица Генерала Плиева, 30<br>
		ИНН 1515911623  КПП 151301001<br>
		ОГРН 1071515008290
	</div>
	<ul class="legal__list">
		<li class="legal__list-link">
			<a href="#">Политика конфиденциальности</a>
			{% include "../../img/svg-for-sprite/right-arrow-hover-fn.svg" %}
		</li>
		<li class="legal__list-link">
			<a href="#">Публичная оферта</a>
			{% include "../../img/svg-for-sprite/right-arrow-hover-fn.svg" %}
		</li>
		<li class="legal__list-link">
			<a href="#">Правила</a>
			{% include "../../img/svg-for-sprite/right-arrow-hover-fn.svg" %}
		</li>
	</ul>
	<div class="legal__cards-title">Лицензии</div>
	<div class="legal__cards">
		<a href="img/im-license-4-action@3x.png" class="legal__images">
			<img src="img/im-license-4-action@3x.png" alt="">
			{% include "../../img/svg-for-sprite/search-mobile-fn.svg" %}
		</a>
		<a href="img/im-license-3@3x.png" class="legal__images">
			<img src="img/im-license-3@3x.png" alt="">
			{% include "../../img/svg-for-sprite/search-mobile-fn.svg" %}
		</a>
		<a href="img/im-license-2@3x.png" class="legal__images">
			<img src="img/im-license-2@3x.png" alt="">
			{% include "../../img/svg-for-sprite/search-mobile-fn.svg" %}
		</a>
		<a href="img/im-license-1@3x.png" class="legal__images">
			<img src="img/im-license-1@3x.png" alt="">
			{% include "../../img/svg-for-sprite/search-mobile-fn.svg" %}
		</a>
	</div>
</div>