<div class="simple-slider__wrapper simple-slider__wrapper_news">
	<div class="simple-slider__top simple-slider__top_news">
		<h2 class="simple-slider__title simple-slider__title_news">
			<span>Новости</span>
		</h2>
		<div class="simple-slider__arrows simple-slider__arrows_news">
			<div class="simple-slider__prev slider-prev">
				<svg role="img" class="left-normal">
					<use xlink:href="#left-normal"></use>
				</svg>
				<svg role="img" class="left-hover">
					<use xlink:href="#left-hover"></use>
				</svg>
			</div>
			<div class="simple-slider__next slider-next">
				<svg role="img" class="right-normal">
					<use xlink:href="#right-normal"></use>
				</svg>
				<svg role="img" class="right-hover">
					<use xlink:href="#right-hover"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="simple-slider_news _news-slider">
		<div class="simple-slider__item-wr simple-slider_mobile simple-slider__item-wr_news">
			<div class="simple-slider__item {% if newspages == true %}simple-slider__item_custom{% endif %}">
				<picture>
					<source data-srcset="img/im-news-2@2x.png, img/im-news-2@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-news-2.png">
				</picture>
				<div class="news-slider__content">
					<div class="news-slider__data">
						<svg role="img" class="ic-time">
							<use xlink:href="#ic-time"></use>
						</svg>
						04 февраля 2020
					</div>
					<div class="news-slider__text">
						Как узнать, что лекарство испортилось.
					</div>
				</div>
			</div>
		</div>
		<div class="simple-slider__item-wr simple-slider_mobile simple-slider__item-wr_news">
			<div class="simple-slider__item {% if newspages == true %}simple-slider__item_custom{% endif %}">
				<picture>
					<source data-srcset="img/im-news-2@2x.png, img/im-news-2@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-news-2.png">
				</picture>
				<div class="news-slider__content">
					<div class="news-slider__data">
						<svg role="img" class="ic-time">
							<use xlink:href="#ic-time"></use>
						</svg>
						04 февраля 2020
					</div>
					<div class="news-slider__text">
						Как узнать, что лекарство испортилось.
					</div>
				</div>
			</div>
		</div>
		<div class="simple-slider__item-wr simple-slider_mobile simple-slider__item-wr_news">
			<div class="simple-slider__item {% if newspages == true %}simple-slider__item_custom{% endif %}">
				<picture>
					<source data-srcset="img/im-news-2@2x.png, img/im-news-2@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-news-2.png">
				</picture>
				<div class="news-slider__content">
					<div class="news-slider__data">
						<svg role="img" class="ic-time">
							<use xlink:href="#ic-time"></use>
						</svg>
						04 февраля 2020
					</div>
					<div class="news-slider__text">
						Как узнать, что лекарство испортилось.
					</div>
				</div>
			</div>
		</div>
		<div class="simple-slider__item-wr simple-slider_mobile simple-slider__item-wr_news">
			<div class="simple-slider__item {% if newspages == true %}simple-slider__item_custom{% endif %}">
				<picture>
					<source data-srcset="img/im-news-2@2x.png, img/im-news-2@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-news-2.png">
				</picture>
				<div class="news-slider__content">
					<div class="news-slider__data">
						<svg role="img" class="ic-time">
							<use xlink:href="#ic-time"></use>
						</svg>
						04 февраля 2020
					</div>
					<div class="news-slider__text">
						Как узнать, что лекарство испортилось.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>