<div class="payment">
	<h2 class="payment__title">Оплата</h2>
	<div class="payment__info">
		Вы можете оплатить заказ онлайн на нашем сайте с помощью банковской карты или наличными курьеру-водителю при получении заказа.<br><br>
		При самостоятельном заборе заказа из наших аптек, вы также можете расплатиться как наличными, так и банковской картой.
	</div>
	<div class="payment__cards-title">Мы принимаем так же</div>
	<div class="payment__cards">
		{% include "../../img/svg-for-sprite/logo-visa.svg" %}
		{% include "../../img/svg-for-sprite/logo-mc.svg" %}
		{% include "../../img/svg-for-sprite/logo-mir.svg" %}
	</div>
</div>