{% extends "../layouts/popup-body.twig" %}
{% set popupName = "popup-recovery" %}

{% block popupConent %}
	<div class="popup-recovery">
		<div class="g-popup__title popup-recovery__title">
			Восстановление пароля
		</div>
		<div class="popup-recovery__content _recovery-content">
			<div class="g-popup__text popup-recovery__text">
				Для получения временного пароля необходимо ввести email, указанные в вашем личном кабинете.
			</div>
			{# l-input_error - класс для невалидного поля #}
			<label class="l-input popup-recovery__input">
				<div class="l-input__label">Email *</div>
				<div class="l-input__sub-text">Error message</div>
				<input name="CODE" type="text" class="g-input l-input__input" placeholder="Введите ваш email" value="">
			</label>
			<div class="g-popup__text popup-recovery__text">
				Срок действия временного пароля 24 часа.
			</div>
			<div class="g-primary-button popup-recovery__btn" onclick="o2.popups.hideFormRecovery(this)">
				Отправить
			</div>
		</div>
		<div class="popup-recovery__success popup-recovery__success--hide _recovery-success">
			Ваш новый пароль отправлен на почту.
		</div>
	</div>
{% endblock %}