<div class="promo-top">
	<div class="container">
		<div class="promo-top__wrapper">
			<span class="promo-top__text">
				Скидки до -90% <br class="promo-top__br">  Для всех влюблённых
			</span>
			<div class="promo-top__close" onclick="o2.spoiler.hide(this,'.promo-top')">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
					<path fill="#FFF" fill-rule="evenodd" d="M12 20c4.376 0 8-3.624 8-8 0-4.369-3.631-8-8.008-8C7.624 4 4 7.631 4 12c0 4.376 3.631 8 8 8zm2.808-4.518a.663.663 0 0 1-.47-.196l-2.346-2.353-2.337 2.353a.632.632 0 0 1-.47.196.664.664 0 0 1-.66-.666c0-.18.071-.338.197-.455l2.345-2.353-2.345-2.353a.598.598 0 0 1-.197-.455c0-.36.299-.651.66-.651.188 0 .337.07.454.196l2.353 2.345 2.369-2.353a.598.598 0 0 1 .455-.204c.368 0 .659.298.659.66 0 .18-.055.329-.197.454l-2.353 2.36 2.346 2.338a.645.645 0 0 1 .196.47.66.66 0 0 1-.66.667z" opacity=".6"/>
				</svg>
			</div>
		</div>
	</div>
</div>