<div class="providers">
	<h2 class="providers__title">Поставщикам</h2>
	<div class="providers__info">
		Мы рады предложить свою помощь в продвижении любых товаров медицинского назначения во всех регионах ЮФО.<br><br> По всем вопросам обращайтесь по телефону 28-98-99 или пишите на почту info@aptekagelios.ru
	</div>
	<div class="providers__cards-title">Контакты</div>
	<a href="tel:289899" class="providers__contacts">
		{% include "../../img/svg-for-sprite/ic-phone-order-none.svg" %}
		<span class="providers__phone-text">28-98-99</span>
	</a>
	<a href="mailto:info@aptekagelios.ru" class="providers__contacts">
		{% include "../../img/svg-for-sprite/ic-mail-order-none.svg" %}
		<span class="providers__email-text">info@aptekagelios.ru</span>
	</a>
</div>