<div class="questions">
	<h3 class="title title--questions">Остались вопросы? — Напишите нам</h3>
	<div class="questions__form">
		<div class="questions__wr">
			<div class="questions__item questions__item--error">
				<span>Имя</span>
				<input type="text" placeholder="Ваше имя">
			</div>
			<div class="questions__item">
				<span>Email</span>
				<input type="email" placeholder="Электронная почта">
			</div>
		</div>
		<div class="questions__item">
				<span>Тема</span>
				<input type="text" placeholder="Тема вопроса">
		</div>
		<div class="questions__item questions__item--textarea">
				<span>Вопрос</span>
				<textarea class="questions__item-area"></textarea> 
		</div>
		<div class="questions__button">
			<button class="simple-button">Отправить</button>
		</div>
	</div>
</div>