<div class="refund">
	<h2 class="refund__title">Возврат</h2>
	<div class="refund__cards-title">Уважаемые покупатели!</div>
	<div class="refund__info">
		Хотим уведомить вас, что в соответствии с п.1 ст. 25 ФЗ ”О защите прав потребителей”,<br> Постановления Правительства № 55 п.1 от 19.01.1998 г., аптечным учреждениям запрещается<br> принимать от физических лиц лекарственные средства, приобретенные ими ранее.
	</div>
</div>