<div class="search-input__block">
	<div class="search-input__wrapper">
		<input type="text" class="search-input" placeholder="Поиск по названию или симптомам">
		<div class="search-input__icons" onclick="o2.popups.clearInput()">
			<svg role="img" class="ic-close-input">
				<use xlink:href="#ic-close-input"></use>
			</svg>
			<svg role="img" class="ic-search">
				<use xlink:href="#ic-search"></use>
			</svg>
		</div>
	</div>
</div>
