<div class="search-input__items-wr">
	<div class="container">
		<ul class="search-input__items">
			<li>
				<a href="" class="search-input__item">
					<div class="search-input__item-img">
						<img src="http://gelios.dev3.odva.pro/upload/iblock/ef8/ef89fbf72502cc3d7e0e4c9ae22f136a.jpg" alt="">
					</div>
					<span>ДОППЕЛЬГЕРЦ Актив Омега-3 Форте капсулы 60 шт.</span>
				</a>
			</li>
			<li>
				<a href="" class="search-input__item">
					<div class="search-input__item-img">
						<img src="http://gelios.dev3.odva.pro/upload/iblock/ef8/ef89fbf72502cc3d7e0e4c9ae22f136a.jpg" alt="">
					</div>
					<span>ДОППЕЛЬГЕРЦ Актив Омега-3 Форте капсулы 60 шт.</span>
				</a>
			</li>
			<li class="search-input__all">
				<a href="">
					Смотреть всё (228)
				</a>
			</li>
		</ul>
	</div>
</div>
