<div class="g-select" data-value="">
	<div class="g-select__selected" onclick="o2.select.selectDropdownToggle(this);" data-id="{{id}}">
		<div class="g-select__selected-name _selected-item-name">День</div>
		<div class="g-select__arrow">
			{% include "../../img/svg-for-sprite/ic-down-fill.svg" %}
		</div>
	</div>
	<div class="g-select-list">
		<ul class="g-select-list__items">
			<li class="g-select-list__item g-select-list__item_active" onclick="o2.select.markSelectedItem(this);">1</li>
			<li class="g-select-list__item" onclick="o2.select.markSelectedItem(this);">2</li>
			<li class="g-select-list__item" onclick="o2.select.markSelectedItem(this);">3</li>
			<li class="g-select-list__item" onclick="o2.select.markSelectedItem(this);">4</li>
			<li class="g-select-list__item" onclick="o2.select.markSelectedItem(this);">5</li>
			<li class="g-select-list__item" onclick="o2.select.markSelectedItem(this);">6</li>
		</ul>
	</div>
</div>