<div class="simple-slider__wrapper simple-slider__wrapper_insta">
	<div class="simple-slider__top">
		<h2 class="simple-slider__title">
			<span>{{titleText}}</span>
			{{ image }}
		</h2>
		<div class="simple-slider__arrows simple-slider__arrows_insta">
			<div class="simple-slider__prev slider-prev">
				<svg role="img" class="left-normal">
					<use xlink:href="#left-normal"></use>
				</svg>
				<svg role="img" class="left-hover">
					<use xlink:href="#left-hover"></use>
				</svg>
			</div>
			<div class="simple-slider__next slider-next">
				<svg role="img" class="right-normal">
					<use xlink:href="#right-normal"></use>
				</svg>
				<svg role="img" class="right-hover">
					<use xlink:href="#right-hover"></use>
				</svg>
			</div>
		</div>
	</div>
	<div class="simple-slider">
		<div class="simple-slider__item-wr simple-slider_mobile">
			<div class="simple-slider__item ">
				<picture>
					<source data-srcset="img/im-insagram-4@2x.png, img/im-insagram-4@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-insagram-4.png">
				</picture>
			</div>
		</div>
		<div class="simple-slider__item-wr simple-slider_mobile">
			<div class="simple-slider__item">
				<picture>
					<source data-srcset="img/im-insagram-3@2x.png, img/im-insagram-3@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-insagram-3.png">
				</picture>
			</div>
		</div>
			<div class="simple-slider__item-wr simple-slider_mobile">
			<div class="simple-slider__item">
				<picture>
					<source data-srcset="img/im-insagram-4@2x.png, img/im-insagram-4@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-insagram-4.png">
				</picture>
			</div>
		</div>
		<div class="simple-slider__item-wr simple-slider_mobile">
			<div class="simple-slider__item">
				<picture>
					<source data-srcset="img/im-insagram-3@2x.png, img/im-insagram-3@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-insagram-3.png">
				</picture>
			</div>
		</div>
			<div class="simple-slider__item-wr simple-slider_mobile">
			<div class="simple-slider__item">
				<picture>
					<source data-srcset="img/im-insagram-4@2x.png, img/im-insagram-4@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-insagram-4.png">
				</picture>
			</div>
		</div>
		<div class="simple-slider__item-wr simple-slider_mobile">
			<div class="simple-slider__item">
				<picture>
					<source data-srcset="img/im-insagram-3@2x.png, img/im-insagram-3@3x.png 2x">
					<img class="lazy-image" alt="" 
						data-src="img/im-insagram-3.png">
				</picture>
			</div>
		</div>
	</div>
	<button class="simple-button" onclick="o2.popups.simpleSliderImages(this)">Показать ещё</button>
</div>