<div class="top-menu__wrapper">
	<div class="top-menu">
		<div class="container">
			<ul class="top-menu__list">
				<li><a href="" class="top-menu__item">Как сделать заказ?</a></li>
				<li><a href="" class="top-menu__item">Оплата</a></li>
				<li><a href="" class="top-menu__item">Возврат</a></li>
				<li><a href="" class="top-menu__item">Оптовикам</a></li>
				<li><a href="" class="top-menu__item">Поставщикам</a></li>
				<li><a href="" class="top-menu__item">Правовая информация</a></li>
				<li><a href="" class="top-menu__item">Помощь</a></li>
			</ul>
		</div>
		<div class="devider devider_bottom"></div>
	</div>
	<div class="top-menu__questions-wrapper">
		<div class="container">
			<div class="top-menu__questions">
				<svg role="img" class="ic-support-mobile">
					<use xlink:href="#ic-support-mobile"></use>
				</svg>
				<div class="top-menu__questions-content">
					<h3 class="top-menu__questions-title">Остались вопросы?</h3>
					<div class="top-menu__questions-text">Обратитесь в нашу службу <br> поддержки</div>
					<button class="simple-button simple-button_questions">Перейти</button>
				</div>				
			</div>
		</div>
	</div>
</div>