<div class="wholesale">
	<h2 class="wholesale__title">Оптовый отдел</h2>
	<div class="wholesale__info">
		Компания Гелиос приглашает к сотрудничеству ЛПУ любого профиля.<br><br>

		С момента вступления в силу 94 ФЗ, мы успешно выполнили более чем 1000 контрактов для ЛПУ самого разного профиля.<br><br>

		Если вам нужно коммерческое предложение или помощь с подготовкой контрактной документации, вы можете обратиться в наш оптовый отдел по телефону 28-98-99 или по почте info@aptekagelios.ru.
	</div>
	<div class="wholesale__cards-title">Контакты</div>
	<a href="tel:289899" class="wholesale__contacts">
		{% include "../../img/svg-for-sprite/ic-phone-order-none.svg" %}
		<span class="wholesale__phone-text">28-98-99</span>
	</a>
	<a href="mailto:info@aptekagelios.ru" class="wholesale__contacts">
		{% include "../../img/svg-for-sprite/ic-mail-order-none.svg" %}
		<span class="wholesale__email-text">info@aptekagelios.ru</span>
	</a>
</div>