<div class="banners">
	{% include '../blocks/banner.twig' with {'srcmob':'buner-tooth-mob.png', 'srcmob2x':'buner-tooth-mob@2x.png', 'srctab':'im-banner-288-x-200-2@2x.png', 'srctab2x':'im-banner-288-x-200-2@3x.png','src': 'im-banner-490-x-200-1@2x.png', 'src2x': 'im-banner-490-x-200-1@3x.png', 'text': 'Уход за зубами'} %}
	{% include '../blocks/banner.twig' with {'srcmob':'im-banner-288-x-200-1@2x.png', 'srcmob2x':'im-banner-288-x-200-1@3x.png', 'srctab':'im-banner-288-x-200-1@2x.png', 'srctab2x':'im-banner-288-x-200-1@3x.png','src': 'im-banner-490-x-200-2@2x.png', 'src2x': 'im-banner-490-x-200-2@3x.png', 'text': 'Витамины'} %}
</div>